@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(36, 6, 12);
  color: rgb(138, 132, 50);
  text-align: center;
}

.welcome-logo {
  font-size: 10em;
  color: #78573b;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}